@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/Avenir-Medium.woff2') format('woff2'),
        url('../../assets/fonts/Avenir-Medium.woff') format('woff'),
        url('../../assets/fonts/Avenir-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir';
    src: url('../../assets/fonts/Avenir-MediumOblique.woff2') format('woff2'),
        url('../../assets/fonts/Avenir-MediumOblique.woff') format('woff'),
        url('../../assets/fonts/Avenir-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

// @font-face {
//     font-family: 'Compacta';
//     src: url('../../assets/fonts/Compacta.woff2') format('woff2'),
//         url('../../assets/fonts/Compacta.woff') format('woff'),
//         url('../../assets/fonts/Compacta.ttf') format('truetype');
//     font-weight: normal;
//     font-style: normal;
//     font-display: swap;
// }

@font-face {
    font-family: 'Compacta BT';
    src: url('../../assets/fonts/Compacta-BT.ttf.woff') format('woff'),
        url('../../assets/fonts/Compacta-BT.ttf.eot') format('eot');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Avenir Black';
    src: url('../../assets/fonts/Avenir-Black.woff2') format('woff2'),
        url('../../assets/fonts/Avenir-Black.woff') format('woff'),
        url('../../assets/fonts/Avenir-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir Black';
    src: url('../../assets/fonts/Avenir-BlackOblique.woff2') format('woff2'),
        url('../../assets/fonts/Avenir-BlackOblique.woff') format('woff'),
        url('../../assets/fonts/Avenir-BlackOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

/////
/// 

@font-face {
    font-family: 'Compacta Black';
    src: url('../../assets/fonts/compacta/compacta-black-regular.otf') format('opentype');
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Compacta';
    src: url('../../assets/fonts/compacta/compacta-bold.otf') format('opentype');
    font-style: normal;
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'Compacta';
    src: url('../../assets/fonts/compacta/compacta-bold-italic.otf') format('opentype');
    font-style: italic;
    font-weight: bold;
    font-display: swap;
}
@font-face {
    font-family: 'Compacta';
    src: url('../../assets/fonts/compacta/compacta-italic.otf') format('opentype');
    font-style: italic;
    font-weight: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Compacta';
    src: url('../../assets/fonts/compacta/compacta-regular.ttf') format('truetype');
    font-weight: normal;
    font-display: swap;
}