$card-width-mobile: 4.5rem;
$card-width-tablet: 5.5rem;
$card-width-desktop: 7rem;

$max-content-width: 1900px; //1800px;

@mixin tablet-query {
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin desktop-query {
    @media screen and (min-width: 1280px) {
        @content;
    }
}