.card {
    width: 6rem;
   
    &--animated {
        top: -10rem;
        position: relative;
        
        animation: slide 0.3s ease-in forwards;
    }
}

@keyframes slide {
    100% {top: 0;}
}