.main {
    width: 100vw;
    height: 100vh;
}
.bgtable {
    width: 100%;
    height: 100%;
    background-image: url(../../assets/images/table02full.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:top;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game-info {
    position: fixed;
    top: 0;
    left: 0;
}