.main {
    width: 100%;
    height: 100vh;
}
.bgtable {
    overflow: hidden;
    position: relative;
    height: 100%;
    background-image: url(../../assets/images/table01all.jpg); // blue
    // background-image: url(../../assets/images/table02all.jpg); // red
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:top;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game-info {
    position: fixed;
    top: 0;
    left: 0;
}

.fan {
    position: absolute;
    top: -50rem;
    left: 28%;
    width: 40rem;
    height: 40rem;

    animation: spinfan 4s linear infinite;
    
    // transform: scale(10);
    &__blade {
        position: absolute;
        background-color: rgba(0,0,0,0.2);
        width: 2rem;
        height: 40rem;
    }
    &__blade-vert {
        // transform: rotate(90deg);
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
    &__blade-cross {
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
    }
}

@keyframes spinfan {
    from {
        
        transform: rotate(0deg) scale(10);
    }
    25% {
        
        transform: rotate(45deg) scale(10);
    }
    50% {
        transform: rotate(90deg) scale(10);
    }
    75% {
        
        transform: rotate(135deg) scale(10);
    }
    to {
        transform: rotate(180deg) scale(10);
    }
    
}