@use '../../styles/partials/variables' as *;

.fan {
    position: absolute;
    top: -50rem;
    left: 28%;
    width: 40rem;
    height: 40rem;
    transform: scale(10);
    animation: spinfan 4s linear infinite;
    
    // transform: scale(10);


    &__blade {
        position: absolute;
        background-color: rgba(0,0,0,0.2);
        box-shadow: 0 0 4px 3px rgba(0,0,0,0.2);
        width: 2rem;
        height: 40rem;
    }
    &__blade-vert {
        // transform: rotate(90deg);
        left: 50%;
        top: 0;
        transform: translateX(-50%);
    }
    &__blade-cross {
        left: 50%;
        transform: translateX(-50%) rotate(90deg);
    }

    &--stopped {
        animation-play-state: paused;
        display: none;
    }
    &__control {
        position: absolute;
        bottom: 1rem;
        left: 1rem;

        @include tablet-query {
            bottom: 2rem;
            left: 2rem;
        }
    }

    &__button.std-btn {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-bottom: 0.9rem;

        &:hover {
            box-shadow: 0 0 3px 2px rgb(211, 234, 255), 0 0 3px 2px rgb(211, 234, 255), 0 0 10px 4px rgb(82, 172, 255), 0 0 10px 4px rgb(82, 172, 255),0 0 10px 4px rgb(82, 172, 255), inset 0 0 10px 4px rgb(82, 172, 255);
            animation: none;
        }
        @include tablet-query {
            flex-direction: row;
            gap: 0.5rem;
        }
    }
    &__button-image {

    }
}

@keyframes spinfan {
    from {
        
        transform: rotate(0deg) scale(10);
    }
    25% {
        
        transform: rotate(45deg) scale(10);
    }
    50% {
        transform: rotate(90deg) scale(10);
    }
    75% {
        
        transform: rotate(135deg) scale(10);
    }
    to {
        transform: rotate(180deg) scale(10);
    }
    
}