@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;

.buttons {
    position: absolute;
    top: 75%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    &__group {

        display: flex;
        gap: 1rem;
        &--hidden {
            display:none;
        }
    }

    &__button {
        cursor:pointer;
        border: none;
        font-family: "Avenir", Arial, Helvetica, sans-serif;
        font-style: italic;
        text-transform: uppercase;
        color: white;
        font-size: 1rem;

        border-radius: 0.375rem;
        box-shadow: 0 1px 1px 2px rgb(71, 71, 71), 0 -1px 1px 2px rgb(182, 182, 182);
        padding: 0.5rem 0.8rem;
        background-color: rgba(31, 31, 31, 0.7);

        @include tablet-query {
            padding: 1rem 1.5rem;
            font-size: 1.3rem;
        }

        &:hover {
            color: white; //rgb(133, 255, 143);
            animation: zoomingframe 0.8s ease-out infinite; // zoomingframe is in the Moves component
            box-shadow: 0 0 6px 10px rgb(253, 25, 25);
        }

        &--active {
            background-color: rgb(113, 0, 0);
            
            // background-color: red;
        }
    }
}