@use '../../styles/partials/variables' as *;
@use '../../styles/partials/fonts' as *;

.buttons {
    position: absolute;
    top: 75%;
    display: flex;
    flex-flow: column nowrap;
    gap: 1rem;

    &__group {

        display: flex;
        gap: 1rem;
        &--hidden {
            display:none;
        }
    }
}