
.bg {
    width: 100vw;
    height: 100vh;
    background-image: url(../../assets/images/table01all.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y:top;

    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    
}

.stacked {
    font-family: "Compacta BT", Arial, Helvetica, sans-serif;
    // font-style: italic;
    font-size: 72px;
    // -webkit-text-stroke: 0.01rem red;
    position: relative;
    top: 10px;
    color: rgba(0,0,0,0.85);
    // outline: 1px solid yellow;
    z-index:3;
    

    &::after {
        // outline: 1px solid green;
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(1.16) scaleY(1.09);
        z-index: -1;
        content: "R";
        color: rgb(253, 25, 25);
        animation: stackscaleinner 1s linear infinite;
    }
    &::before {
        // outline: 1px solid green;
        position: absolute;
        top: 0;
        left: 0;
        transform: scaleX(1.236) scaleY(1.133);
        z-index: -2;
        content: "R";
        color: rgb(255, 227, 227);
        text-shadow: 0 0 4px rgb(253, 25, 25), 0 0 4px rgb(253, 25, 25), 0 0 4px rgb(253, 25, 25), 0 0 4px rgb(253, 25, 25),  0 0 13px rgb(253, 25, 25); 
        //  0 0 10px rgb(253, 25, 25),0 0 10px rgb(253, 25, 25),0 0 10px rgb(253, 25, 25),
        animation: stackscaleouter 1s linear infinite;
    }
}
@keyframes stackscaleouter {
    // from { transform: scale(1.236, 1.133) ;}
    from { transform: scale(1.285, 1.178);} // 4% more. Prob a bit too  much.
    25% {  transform: scale(1.186, 1.087);}
    50% {  transform: scale(1.14, 1.044);}
    75% {  transform: scale(1.00, 1.002);}
    to {  transform: scale(0.95, 0.962);}
}
@keyframes stackscaleinner {
    from { transform: scale(1.16, 1.09);}
    25% {  transform: scale(1.11, 1.046);}
    50% {  transform: scale(1.069, 1.0045);}
    75% {  transform: scale(1.026, 0.964);}
    to {  transform: scale(0.984, 0.925);}
}


.result {

    font-family: "Compacta BT", Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 72px;

    color: rgba(0,0,0,0.4);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    &__wrapper-outer {
        display: flex;
        gap: 1.6rem;
    }
    &__wrapper {
        position: relative;
        
        left: 10px;
        top: 100px;

        &-w { left: 0; }
        &-i { left: 0.2rem; }
        &-n1 { left: 0rem; }
        &-n2 { left: 0.2rem; }
        &-e { left: 0.1rem; }
        &-r { left: 0; }
    }
    &-0{
        position: absolute;
        font-size: 80px;
        color: rgb(253, 25, 25);
        text-shadow: 0 0 12px rgb(253, 25, 25);
        animation: shrinking 1s linear infinite;
    }
    &-1{
        position: absolute;
        font-size: 76px;
        color: rgb(255, 227, 227);
        text-shadow: 0 0 4.5px rgb(253, 25, 25);
        animation: shrinking 1s linear infinite;
    }
    &-2{
        position: absolute;
        font-size: 73px;
        color: red;
        animation: shrinking 1s linear infinite;
    }
    &-3{
        position: absolute;
        font-size: 70px;
        color: rgb(62, 21, 21); // rgb(33, 33, 33);
       
    }
}

// @keyframes shrinking {
//     from { top:50%; left: 50%; transform: translate(-50%, -50%) scale(1.05) ;}
//     25% {  top:50%; left: 50%;transform: translate(-50%, -50%) scale(1.04);}
//     50% {  top:50%; left: 50%;transform: translate(-50%, -50%) scale(1.02);}
//     75% {  top:50%; left: 50%;transform: translate(-50%, -50%) scale(0.9);}
//     to {  top:50%; left: 50%;transform: translate(-50%, -50%) scale(0.85);}
// }
@keyframes shrinking {
    from { top:50%; left: 49.8%; transform: translate(-50%, -50%) scale(1.08) ;}
    25% {  top:50%; left: 49.85%;transform: translate(-50%, -50%) scale(1.0);}
    50% {  top:50%; left: 49.9%;transform: translate(-50%, -50%) scale(0.95);}
    75% {  top:50%; left: 49.95%;transform: translate(-50%, -50%) scale(0.9);}
    to {  top:50%; left: 50%;transform: translate(-50%, -50%) scale(0.85);}
}