@use "../../styles/partials/variables" as *;


.card {
    width: $card-width-mobile;

    @include tablet-query {
        width: $card-width-tablet;
    }
    @include desktop-query {
        width: $card-width-desktop;
    }
   
    &__not-first { // overlaps cards so they take up less space
        margin-left: -(0.5*$card-width-mobile);
        @include tablet-query {
            margin-left: -(0.5*$card-width-tablet);
        }
        @include desktop-query {
            margin-left: -(0.5*$card-width-desktop);
        }
    }
    &--animated {
        top: -20rem;
        position: relative;
        
        animation: slide 0.3s ease-in forwards;
    }
    &--animated-slower {
        top: -20rem;
        position: relative;
        
        animation: 0.3s slide 0.2s ease-in forwards;
    }
}

@keyframes slide {
    100% {top: 0;}
}