.move {

    &-button {
        padding: 1rem 1.5rem;
        border: none;
    
        font-size: 1.5rem;
        text-transform: uppercase;
        color: white;
        background-color: rgb(52, 50, 139);
    
        border-radius: 0.25rem;
    
        cursor:pointer;

        &:hover {
            background-color: rgb(241, 41, 74);
        }

        border: 3px solid rgb(207, 229, 252);
        box-shadow: 0 0 3px 2px rgb(104, 176, 253);
        animation: glowing 3s ease-in-out infinite;
    }

    

    &__container {
        width: 300px;
        overflow:visible;
        white-space:nowrap;
        // background-color: black;

        display: flex;
        gap: 0.5rem;
        
    }
}

@keyframes glowing {
    from {
        box-shadow: 0 0 3px 2px rgb(104, 176, 253);
    }
    50% {
        box-shadow: 0 0 6px 4px rgb(104, 176, 253);
    }
    to {
        box-shadow: 0 0 3px 2px rgb(104, 176, 253);
    }
}