@use '../../styles/partials/variables' as *;

.music-player {

    position: absolute;
    top: 1rem;
    right: 1rem;

    @include tablet-query {
        top: 2rem;
        right: 2rem;
    }

    &__icon {
        width: 1.3rem;
        height: 1.3rem;
        color: white;
        padding: 0;
        border: none;

        @include tablet-query {
            width: 1.5rem;
            height: 1.5rem;
        }
    }
    &__button.std-btn {
        padding: 0.5rem;
        border-radius: 100%;

        @include tablet-query {
            padding: 1rem;
        }
    }
}

.audio-icon {
    width: 3.8rem;
    object-fit: cover;
    border-radius: 100%;
    padding: 1rem;
}