@use './styles/partials/global' as *;
@use './styles/partials/fonts' as *;
@use './styles/partials/variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: "Avenir", Verdana, Tahoma, sans-serif;
}