@use './styles/partials/global' as *;
@use './styles/partials/fonts' as *;
@use './styles/partials/variables' as *;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  color: white;
  font-family: "Avenir", Verdana, Tahoma, sans-serif;
}

// necessary to ensure the background left & right images are visible but do not screw up screen width on mobile devices
.outer-content-wrapper {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

// Sets max width on the content and adds background left & right images for users with UHD screens
.inner-content-wrapper {
  max-width: 1900px;
  position: relative;

  &::before {
    content: "";
    background: url(./assets/images/leftbg-jw.jpg) no-repeat top right;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    width: 678px;
    height: 100%;
  }
  &::after {
    content: "";
    background: url(./assets/images/rightbg-jw.jpg) no-repeat top left;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(100%);
    width: 648px;
    height: 100%;
  }
}