@use '../../styles/partials/variables' as *;

.home {

    &__outer-wrapper {
        height: 100vh;
        width: 100vw;
        max-width: $max-content-width;
        margin: 0 auto;
    }

    &__overlay {
        position: absolute;
        top: 0;
        height: 0;
        width: 100%;
        height: 103%;
        background-color: rgba(0,0,0,0.4);
    }

    &__video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    &__content-wrapper {
 
        position: absolute;
        top: 0;
        height: 0;
        width: 100%;
        height: 100%;
    }

    &__content {
        height: 100%;
        padding: 3rem;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        // justify-content: space-between;
        gap: 20vh;
        
    }


    &__title-group {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
    }
    &__title {
        font-family:"Compacta", Impact, 'Arial Narrow Bold', sans-serif;
        font-style: italic;
        font-weight: bold;
        font-size: 4rem;
        line-height: 1em;
        text-transform: uppercase;
        -webkit-text-stroke: 1px rgb(255, 204, 76);
        text-shadow: 2px 2px 6px red;
        
        // text-shadow: 0 0 7px red, 0 0 7px red, 0 0 7px red, 0 0 7px red, 0 0 24px red, 0 0 24px red;
        color: rgba(0,0,0,0.6);
    
        @include tablet-query {

            // combos for top & bottom font sizes: 5/7, 9.6/4.6, 8.3/5
            font-size: 8.3rem; // 4rem; // 5.4rem; //150px;
            -webkit-text-stroke: 2px rgb(255, 204, 76);
            text-shadow: 2px 2px 10px red;    
        }

    }
    &__subtitle {
        font-family: "Compacta", Impact, 'Arial Narrow Bold', sans-serif;
        font-size: 4.3rem;
        line-height: 1em;
        font-style: italic;
        font-weight: bold;
        text-transform: uppercase;

        // text-shadow: 2px 2px 6px rgb(46, 185, 255);

        @include tablet-query {
            font-size: 5rem; // 7rem; //4.6875rem;
            // text-shadow: 2px 2px 10px rgb(46, 185, 255);
        }
    }



    &__music-player {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}