@use '../../styles/partials/variables' as *;

.move {

    &__container {
        position: absolute;
        overflow:visible;

        display: flex;
        flex-flow: column wrap;
        top: 75%;
        right: 1rem;
        gap: 1.5rem;

        @include tablet-query {
            top: 71%;
            right: 2rem;
            min-width: 12rem;
        }
        @include desktop-query {
            min-width: none;
            flex-flow: row nowrap;  // used to be nowrap,but breaks when insurance is displayed on mobile
            top: auto;
            right: 2rem;
            bottom: 2rem;
            left: 70%;
        }

        & button {
            flex-shrink: 1;
        }
        
    }
    &__container-buy-credits {
        position: absolute;
        top: 1rem;
        right: 1rem;

        @include tablet-query {
            top: 2rem;
            right: 2rem;
        }
    }
}