@use '../../styles/partials/variables' as *;

.move {

    &__container {
        position: absolute;
        overflow:visible;

        display: flex;
        flex-flow: column wrap;
        top: 75%;
        right: 2rem;
        gap: 1.5rem;

        @include tablet-query {
            flex-flow: row nowrap;
            top: auto;
            bottom: 2rem;
            left: 70%;
        }
        
    }
    &__container-buy-credits {
        position: absolute;
        top: 1rem;
        right: 1rem;

        @include tablet-query {
            top: 2rem;
            right: 2rem;
        }
    }
}