.move {

    &__container {
        position: absolute;
        bottom: 2rem;
        left: 70%;
        // width: 300px;
        overflow:visible;
        // white-space:nowrap;
        // background-color: black;

        display: flex;
        gap: 0.5rem;
        
    }
    &__container-buy-credits {
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
}